In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
db_path = "../salaries"

In [ ]:
engine = create_engine(f'sqlite:///{db_path}')

data = pd.read_sql('select * from salaries', conn)

In [ ]:
data = engine.execute('select * from salaries')
data

In [ ]:
data2 = engine.execute('select * from employees')
data2

In [ ]:
emp_sal_df = data